<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>com.anisjr.servlets.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>com.anisjr.servlets.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteServlet</servlet-name>
        <servlet-class>com.anisjr.servlets.ExecuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorie</servlet-name>
        <servlet-class>com.anisjr.servlets.Categorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCategory</servlet-name>
        <servlet-class>com.anisjr.servlets.DetailCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Device</servlet-name>
        <servlet-class>com.anisjr.servlets.Device</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.anisjr.servlets.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteServlet</servlet-name>
        <url-pattern>/ExecuteServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Categorie</servlet-name>
        <url-pattern>/Categorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCategory</servlet-name>
        <url-pattern>/DetailCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Device</servlet-name>
        <url-pattern>/Device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>de.cynapsys.home.servlet.Authentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>de.cynapsys.home.servlet.CloudUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>de.cynapsys.home.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/deleteservlet/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showdetail</servlet-name>
        <servlet-class>de.cynapsys.home.servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showdetail</servlet-name>
        <url-pattern>/admin/showdetailservlet/</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
